{% extends 'piano_app/layout.html' %}
{% load static %}
{% load humanize %}

{% block body %}

<div class="row justify-content-around">
    <div class="col-8">
        <h3>Piano Listings</h3>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        
    {% endif %}

    <hr/>
    <!--Creating a list of entries-->
    {% for piano in pianos %}

        <div class="card mb-3">
                <div class="row no-gutters">
                    {% if piano.imageUrl %}
                        <div class="col-md-4">
                            <img src="{{ piano.imageUrl }}" class="card-img" alt="{{ piano.title }}">
                        </div>
                        <div class="col-md-8">
                    {% else %}
                        <div class="col-md-12">
                    {% endif %}
                            <div class="card-body" data-piano="{{ piano.id }}">
                                {% csrf_token %}
                                
                                {% if user.is_authenticated %}
                                    <h5 class="card-title">
                                        <a href="{% url 'piano_detail' piano.id %}">{{ piano.brand }}</a>
                                    </h5>
                                {% else %}
                                    <h5>
                                    {{ piano.brand }}
                                    </h5>
                                {% endif %}
                                
                                <p data-piano="{{ piano.id }}"class="card-text"><strong>Price:</strong> ${{ piano.price|intcomma }}</p>
                            
                                <p data-piano="{{ piano.id }}" class="card-text">Size: {{ piano.size }} cm</p>
                                
                                <p data-piano="{{ piano.id }}"class="card-text piano-votes" >Number of upvotes: {{ piano.upvote_count }}</p>
                                <!--Display error message-->
                                <p data-piano="{{ piano.id }}" class="card-text vote-msg"></p>
                            </div>
                        </div>
                              
                </div>
        </div>
    {% empty %}
       No pianos to list.
    {% endfor %}

    <!-- JavaScript File -->
    <script src="{% static 'piano_app/scripts.js' %}"></script>

{% endblock %}
    </div>
</div>

